{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "cart/css/cart.css" %}">
{% endblock css_links %}

{% block content %}
<div class="main">

    <h1 class='title'>Shopping Cart</h1>
    <div class="cart-items">
    {% for item in cart %}
        {% with product=item.product %}
            <div class="item">
                <div class="cart-img-container">
                    <img class='cart-item-img' src="{{product.main_image.url}}">
                </div>
                <div class="info">

                    <div class="product-info">
                        <div class="product-name">
                            <p>{{product.name}}</p>
                            <p class="full-desc">{{product.brief_description}}</p>
                        </div>
                        <div class="prices">
                            {% if product.price_new %}
                            <p class="price">${{product.price_new}}</p>
                            {% else %}
                            <p class="price">${{product.price}}</p>
                            {% endif %}
                        </div>
                        <form class="update-form" action="{% url "cart:cart" %}" method="post">
                            <input type="number" name="quantity" min="1" value="1" class="quantity-input">
                            <input type="hidden" name="product_id" value="{{product.id}}">
                        </form>
                    </div>

                    <div class="remove">
                        <form action="{% url "cart:cart" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <button type='submit' name='toggle-cart'><i class="bi bi-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}  
        
    <!-- <div class="max">
        <p>Max quantity of {{product.name}} is {{product.stock}}</p>
    </div>
    
    <div class="max">
        <p>{{product.name}} is currently out of stock</p>
    </div> -->
        
    </div>


    <div class="cart-results">

        <div class="total">
            <h3>Total</h3>
            <h3>${{cart.get_total_price}}</h3>
        </div>
    
        <div class="buy-btn-wrapper">
            <!-- {% if out_of_stock%}
            <button class='button'>
                <a href="{% url "cart:cart_details" %}">
                    Checkout
                </a>
            </button> -->
            <!-- <p style="color: red;">Some items in your cart are out of stock.</p>
            {% elif invalid_quantity %}
            <button class='button'>
                <a href="{% url "cart:cart_details" %}">
                    Checkout
                </a>
            </button>
            {% else %} -->
            <button class='button'>
                <!-- {% if user.is_authenticated %} -->
                    {% comment %} <a href="{% url 'orders:order_create' %}">Checkout</a> {% endcomment %}
                <!-- {% else %} -->
                    <!-- <a href="{% url 'register' %}">Checkout</a> -->
                <!-- {% endif %} -->
            </button>
            <!-- {% endif %}  -->
        </div>
        
        <a href="{% url "shop:main" %}" class='shop'>Continue Shopping</a>  
        
    </div>

</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}