{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "cart/css/cart.css" %}">
{% endblock css_links %}

{% block content %}
<div class="main">

    <h1 class='title'>Shopping Cart</h1>
    <div class="cart-items">
    {% for item in cart %}
        {% with product=item.product %}
            <div class="item">
                <div class="container">
                    <div class="cart-img-container">
                        <img class='cart-item-img' src="{{product.main_image.url}}">
                    </div>
                    <div class="info">
    
                        <div class="product-info">
                            <div class="product-name">
                                <p>{{product.name}}</p>
                                <p class="full-desc">{{product.brief_description}}</p>
                            </div>
                            {% if product.stock > 0 %}
                                <div class="prices">
                                    <p class="price">${{item.total_price}}</p>
                                </div>
    
                                <div class="post-forms">
                                    <form class="update-form" action="{% url "cart:cart" %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" name="quantity" min="1" value="{{item.quantity}}" class="quantity-input">
                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                    </form>
                                </div>
                            {% else %}
                                <p style='color: #ff5252'>Out of stock</p>
                            {% endif %}
                            
                        </div>
                        <div class="remove">
                            <form action="{% url "cart:cart" %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <button type='submit' name='toggle-cart' style='border: none; background: transparent; cursor:pointer; font-size: 1.1rem;'><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
    
                    </div>
                </div>
                {% if item.quantity >= product.stock and product.stock > 0 %}
                    <div class="max">
                        <p>Max quantity of {{product.name}} is {{product.stock}}</p>
                    </div>
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}  
        
        
    </div>


    <div class="cart-results">

        <div class="total">
            <h3>Total</h3>
            <h3>${{cart.get_total_price}}</h3>
        </div>
    
        <div class="buy-btn-wrapper">
            {% if out_of_stock%}
                <button class='button'>
                    <a href="{% url "cart:cart" %}">
                        Checkout
                    </a>
                </button>   
                <p style="color: red; margin-top: .5em">Some items in your cart are out of stock.</p>
            {% elif invalid_quantity %}
                <button class='button'>
                    <a href="{% url "cart:cart" %}">
                        Checkout
                    </a>
                </button>
            {% else %}
                <button class='button'>
                        <a href="{% url "shop:main" %}">Checkout</a>
                </button>
            {% endif %}
        </div>
        
        <a href="{% url "shop:main" %}" class='shop'>Continue Shopping</a>  
        
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script src="{% static "cart/js/cart.js" %}"></script>
{% endblock scripts %}