.main h2 {
    font-weight: 500;
    font-size: 1.7rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin: 2em 0;
}

.register-form .name {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.register-button {
    padding: 12px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-top: 2em;
    font-size: 1.1rem;
}

.register-button:hover {
    opacity: 85%;
}


.input-container {
    display: flex;
    align-items: center;
}

.phone-prefix {
    margin-right: 0px; 
    margin-bottom: 2.5px;
    font-size: 18px;
}

input[type="text"], input[type="tel"] {
    height: 34px;
    /* padding: 0 8px;  */
    padding-left: 5px;
    font-size: 16px; 
}