<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static "shop/css/main.css" %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block css_links %}
        {% endblock css_links %}
        <title>Document</title>
    </head>
    <body>
        
    <header class="header">

            <nav class="sidebar">
                <div class="categories"><i class="bi bi-x-lg close-sidebar"></i></div>
                <ul>
                    {% for category in categories %}
                        {% if category.is_root_node %}
                        <li class="category main-category">
                            <a href="{{category.get_absolute_url}}">{{category.name}} {% if category.get_children %}<i class="bi bi-chevron-down"></i>{% endif %}</a>
                            {% if category.get_children %}
                            <ul class="subcategories">
                                {% for child in category.get_children %}
                                        {% include "shop/subcategory_list.html" with category=child %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li class="category main-category brands">
                        <a href="{% url "shop:product_brands" %}">Brands <i class="bi bi-chevron-down"></i></a>
                        <ul class="subcategories">
                            {% for brand in brands %}
                                <li class="category">
                                    <a href="{{brand.get_absolute_url}}">{{brand.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="nav-container">

                <div class="nav-toggle" aria-label="open navigation">
                    <span class="hamburger"><i class="bi bi-list"></i></span>
                </div>

                <div class="logo"><a href="{% url 'shop:main' %}">Éclat Essentials</a></div>
                

                <div class="nav-items">
                    {% if user.is_authenticated %}
                        <li class="nav-item person">
                            <a href="account.html" class="nav-link"><i class="bi bi-person-fill"></i></a>
                        </li> 
                        <li class="nav-item favourites">
                            <a href="account.html?show=favourites" class="nav-link position-relative"><i class="fa fa-heart-o"></i></a>
                            <span class='badge'>
                                2
                            </span>
                        </li> 
                    {% else %}
                        <li class="nav-item person">
                            <p class="nav-link not-signed-in"><i class="bi bi-person-fill"></i></p>
                            <div class="login">
                            <div class="close-login-container">
                                Sign In to your account
                                <i class="bi bi-x-lg close-login"></i>
                            </div>
                            <form action="" class="account-form">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" required>
                                </div>
                                
                                <a class="reset-password">Forgot password?</a>
                                <button class='login-button' type="submit">Log in</button>
                                
                            </form>

                            <a href="register.html" class="register-link">Register</a>
                            </div>       
                        </li>
                    </li> 
                    {% endif %}
                    <li class="nav-item cart">
                        <a href="cart.html" class="nav-link position-relative"><i class="bi bi-bag"></i></a>
                        <span class='badge'>
                            2
                        </span>
                    </li> 
                </div>

            </div>
        
    
    </header>

    <img class='main-image' src="{% static "shop/images/skincare.jpg" %}">


    <section>
        <div class="search-container">
            <form action="{% url "shop:shop_search" %}" method="GET" class="form">
                <input type="text" placeholder="Search items" name="query" class="search-input">
                <div class="btn-wrapper">
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        </div>
    </section>



    {% block content %}
    {% endblock content %}

    <button id="back-to-top" class="back-to-top"><i class="bi bi-chevron-double-up"></i></button>
        
    <footer class="footer">

        <div class="logo"><a href="{% url "shop:main" %}">Éclat <span>Essentials</span></a></div>
                
                
        
        
        <div class="footer-sec get-in-touch">
            <div class="list-items">
                <li class="footer-list"><a href="{% url "shop:contact" %}">Contact Us</a></li>
                <li class="footer-list"><a href="{% url "shop:help" %}">Help</a></li>
            </div>
        </div>

        <div class="footer-sec socials">
            <li class="footer-list instagram"><a href="https://www.instagram.com" class="nav-link"><i class="bi bi-instagram"></i></a></li>
            <li class="footer-list telegram"><a href="https://www.telegram.com" class="nav-link"><i class="bi bi-telegram"></i></a></li>
        </div>
        
        <div class="footer-sec contacts">
            <div class="list-items">
                <li class="footer-list phone-number"><i class="bi bi-telephone"></i> 555-555-55-55</li>
                <li class="footer-list email"><i class="bi bi-envelope"></i> katyadess.django@gmail.com</li>
            </div>
           
        </div>

        <div class="footer-sec subscribe list-items">
            <div class="subscribe-container">
                <p class="footer-list">Subscribe to receive updates and news!</p>
                <form method="POST" class="subscribe-form">
                    {% csrf_token %}
                    {{subscribe_form.email}}
                    <button type="submit" class='subscribe-button' name='subscribe'>Subscribe</button>
                    {% for error in subscribe_form.email.errors %}
                        <div class="alert alert-warning">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>

    </footer>


    <script src="{% static "shop/js/main.js" %}"></script>
    <script src="{% static "shop/js/back-to-top-button.js" %}"></script>

    {% block scripts %}
    {% endblock scripts %}
        
</body>
</html>