{% extends "shop/base.html" %}
{% block content %}

<div class="main">

    <form action="{% url "shop:shop_login" %}" class="account-form" method='POST' style='width: 60%; margin: 2em 0;'>
        {% csrf_token %}
        <div class="form-group">
            <label for="email">E-mail</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{form.password}}
        </div>
        
        <a class="reset-password">Forgot password?</a>
        <button class='login-button' type="submit" name='login'>Log in</button>
        
    </form>
</div>
{% endblock content %}