{% extends "shop/base.html" %}
{% block content %}

<div class="main">
    <div class="products">
        <h2>New Arrivals</h2>
        <div class="items">
            {% for product in new_arrivals %}
            <div class='item-product'>
                <a href="">
                    <div class="card">
                        <div class="imgBx">
                            <img src="{{product.main_image.url}}" alt="">
                        </div>
                        <div class="content">
                            <div class="product-name">
                                <p>{{product.name}}</p>
                                <p class="full-desc">{{product.brief_description}}</p>
                            </div>
                            <div class="price_rating">
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <p class="total-ratings">100</p>
                                </div>
                                <div class="prod-price">
                                    {% if product.price_new %}
                                    <p class="price new">${{product.price_new}}</p>
                                    <p class="price old">${{product.price}}</p>
                                    {% else %}
                                    <p class="price">${{product.price}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="buttons">
                    <form method="" action="">
                        <button type="submit" class="form-btn btn-favorites"><i class="fa fa-heart-o"></i></button>
                    </form>
                    <form method="" action="">
                        
                        <button type="submit" class="form-btn btn-cart"><i class="bi bi-bag"></i></button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn">
            <a href="{% url "shop:new_arrivals" %}">
                <button type="submit">See more</button>
            </a>
        </div>
    </div>
    {% for category, products in category_products.items %}
        {% if category.is_root_node %}
            <div class="products">
                <h2>{{category.name}}</h2>
                <div class="product-categories">
                    {% for subcategory in category.get_children %}
                        <a class="category-link" href="{{subcategory.get_absolute_url}}">
                            <div class="img-container">
                                <img src="{{subcategory.category_image.url}}" alt="">
                            </div>
                            <p>{{subcategory.name}}</p>
                        </a>
                    {% endfor %}
                </div>
                <div class="items">
                    {% for product in products %}
                    <div class='item-product'>
                        <a href="">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="{{product.main_image.url}}" alt="">
                                </div>
                                <div class="content">
                                    <div class="product-name">
                                        <p>{{product.name}}</p>
                                        <p class="full-desc">{{product.brief_description}}</p>
                                    </div>
                                    <div class="price_rating">
                                        <div class="rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <p class="total-ratings">100</p>
                                        </div>
                                        <div class="prod-price">
                                            {% if product.price_new %}
                                            <p class="price new">${{product.price_new}}</p>
                                            <p class="price old">${{product.price}}</p>
                                            {% else %}
                                            <p class="price">${{product.price}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="buttons">
                            <form method="" action="">
                                <button type="submit" class="form-btn btn-favorites"><i class="fa fa-heart-o"></i></button>
                            </form>
                            <form method="" action="">
                                
                                <button type="submit" class="form-btn btn-cart"><i class="bi bi-bag"></i></button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="btn">
                    <a href="{{category.get_absolute_url}}">
                        <button type="submit">See more</button>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}