{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/product_list.css" %}">
<link rel="stylesheet" href="{% static "shop/css/brands.css" %}">
{% endblock css_links %}

{% block content %}
<div class="breadcrumbs">

    <div class="btn-wrapper">
        <button onclick="history.back()" class="button breadcrumbs-back"><i class="bi bi-arrow-left"></i></button>
    </div>
    <ul>
        {% for breadcrumb in breadcrumbs %}
        <li>
            <a class="breadcrumb-link {% if breadcrumb.class %}{{breadcrumb.class}}{% endif %}" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<section class="sort-section">

    <div class="filters">
        <div class="sort-container filter-price">
            <div class="name">Filter by:</div>
            <div class="custom-filter__value-wrap"> 
                <div class="custom-filter__value">
                    Price, $
                    <i class="bi bi-chevron-down"></i>
                </div>
                <div class="price-range">
                    <form class="price-form" method='GET' action='{{category.get_absolute_url}}'>

                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                        
                        <div class="price-input">
                            <div class="field">
                                <input type="number" name="min_price" id="input-min" class="input-min" value="{% if request.GET.min_price %}{{request.GET.min_price}}{% else %}3{% endif %}" min='3' max='1000'>
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <input type="number" name="max_price" id="input-max" class="input-max" value="{% if request.GET.max_price %}{{request.GET.max_price}}{% else %}1000{% endif %}" max='1000' min='3'>
                            </div>
                        </div>
                        
                        <div class="btn-wrapper">
                            <button class="filter-button" type='submit'>Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sort-container sort-price">
            <div class="name">Sort by:</div>
            <form method="get" action="{{category.get_absolute_url}}" class="form">
                <input type="hidden" name="query" value="{{ query }}">
                <input type="hidden" name="min_price" value="{{ request.GET.min_price }}">
                <input type="hidden" name="max_price" value="{{ request.GET.max_price }}">
                        
                <div class="custom-select-container">
                    <div class="custom-select">
                        <div class="custom-select__value-wrap">
                            <div class="custom-select__value">
                                {% if request.GET.sort_by %}
                                    {% if request.GET.sort_by == 'lowest_price' %} Lowest Price
                                    {% elif request.GET.sort_by == 'highest_price' %} Highest Price
                                    {% else %} Default
                                    {% endif %}
                                {% else %} Default {% endif %}
                            </div>
                            <i class="bi bi-chevron-down"></i>
                        </div>
                        <div class="custom-select__popup">
                            <div class="custom-select__item">Default</div>
                            <div class="custom-select__item">Lowest Price</div>
                            <div class="custom-select__item">Highest Price</div>
                        </div> 
                    </div>
                    
                    <input type="hidden" name="sort_by">
                </div>
            </form>
        </div>
    </div>

    <div class="selected-filters">
        <div class="selected-filter__item">
            {% comment %} <p>5$ - 20$</p>    
            <button class="remove-filter"><i class="bi bi-x-lg"></i></button> {% endcomment %}
        </div>
    </div>
</section>

<main class="main">

    <div class="products">
        <h2>{{category.name}}</h2>
        <div class="product-categories">
            {% for subcategory in category.get_children %}
                <a class="category-link" href="{{subcategory.get_absolute_url}}">
                    <div class="img-container">
                        <img src="{{subcategory.category_image.url}}" alt="">
                    </div>
                    <p>{{subcategory.name}}</p>
                </a>
            {% endfor %}
        </div>
        {% if products %}
            <div class="items">
                {% for product in products %}
                    <div class='item-product'>
                        <a href="">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="{{product.main_image.url}}" alt="">
                                </div>
                                <div class="content">
                                    <div class="product-name">
                                        <p>{{product.name}}</p>
                                        <p class="full-desc">{{product.brief_description}}</p>
                                    </div>
                                    <div class="price_rating">
                                        <div class="rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <p class="total-ratings">100</p>
                                        </div>
                                        <div class="prod-price">
                                            {% if product.price_new %}
                                            <p class="price new">${{product.price_new}}</p>
                                            <p class="price old">${{product.price}}</p>
                                            {% else %}
                                            <p class="price">${{product.price}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="buttons">
                            <form method="" action="">
                                <button type="submit" class="form-btn btn-favorites"><i class="fa fa-heart-o"></i></button>
                            </form>
                            <form method="" action="">
                                
                                <button type="submit" class="form-btn btn-cart"><i class="bi bi-bag"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="btn">
                <a href="">
                    <button type="submit">Load more</button>
                </a>
            </div>
        {% else %}
            <p>No items found</p>
        {% endif %}
    </div>

</main>

<div class="pagination">
    <a href="#" class="pagination-link active">
        <span>1</span>
    </a>
    <a href="#" class="pagination-link">
        <span>2</span>
    </a>
    <a href="#" class="pagination-link">
        <span>3</span>
    </a>
    <span class="pagination-ellipsis">...</span>
    <a href="#" class="pagination-link">
        <span>24</span>
    </a>
</div>
{% endblock content %}

{% block scripts %}
<script src='{% static "shop/js/product_list.js" %}'></script>
{% endblock scripts %}