{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/product_details.css" %}">
{% endblock css_links %}

{% block content %}
<div class="breadcrumbs">

    <div class="btn-wrapper">
        <button onclick="history.back()" class="button breadcrumbs-back" style='cursor:pointer'><i class="bi bi-arrow-left"></i></button>
    </div>
    <ul>
        {% for breadcrumb in breadcrumbs %}
        <li>
            <a class="breadcrumb-link {% if breadcrumb.class %}{{breadcrumb.class}}{% endif %}" href="{{breadcrumb.url}}">{{breadcrumb.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<main class="main">
    <div class="product-item-container">
        <div class="product-item">
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        
                        <img class="product-image" src="{{object.main_image.url}}" alt="">
                        {% if object.second_picture %}
                            <img class="product-image" src="{{object.second_picture.url}}" alt="">
                        {% endif %}
                        {% if object.third_picture %}
                            <img class="product-image" src="{{object.third_picture.url}}" alt="">
                        {% endif %}
                        {% if object.forth_picture %}
                            <img class="product-image" src="{{object.forth_picture.url}}" alt="">
                        {% endif %}
                        
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1" class="select-container">
                            <img src="{{object.main_image.url}}" alt="">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="2" class="select-container">
                            {% if object.second_picture %}
                                <img src="{{object.second_picture.url}}" alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3" class="select-container">
                            {% if object.third_picture %}
                                <img src="{{object.third_picture.url}}" alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="4" class="select-container">
                            {% if object.forth_picture %}
                                <img class="product-image" src="{{object.forth_picture.url}}" alt="">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-description">
                <div class="brand">
                    <ul>
                        {% for brand_breadcrumb in brand_breadcrumbs %}
                        <li>
                            <a class="breadcrumb-link {% if brand_breadcrumb.class %}{{brand_breadcrumb.class}}{% endif %}" href="{{brand_breadcrumb.url}}">{{brand_breadcrumb.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="name-desc-rating">
                    <div class="name-desc">
                        <p class="prod-name">{{product.name}}</p>
                        <p class="prod-desc">{{product.brief_description}}</p>
                    </div>
                    <div class="prod-rating">
                        <div class="stars">
                            <ul class="stars">
                                {% for i in '12345'|make_list %}
                                    {% if forloop.counter <= average_rating %}
                                        <i class="bi bi-star-fill"></i>
                                    {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <p class="total-ratings">{{object.reviews.all|length}} <a href="#comment-section">review{{ object.reviews.all|length|pluralize }}</a></p>
                    </div>
                </div>
                <div class="prod-prices">
                    <div class="prices">
                        {% if product.stock > 0 %}
                            {% if product.price_new %}
                            <p class="price new">${{product.price_new}}</p>
                            <p class="price old">${{product.price}}</p>
                            {% else %}
                            <p class="price">${{product.price}}</p>
                            {% endif %}
                        {% else %}
                            <p class="out-of-stock">Out of Stock</p>
                        {% endif %}
                    </div>
                    <div class="add-to-favourite">
                        {% if user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                {% if product in user.wishlist.products.all %}
                                    <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites full-heart" style='cursor: pointer;'><i class="fa fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites" style='cursor: pointer;'><i class="fa fa-heart-o"></i></button>
                                {% endif %}
                            </form>
                        {% else %}
                            <form>
                                <p class="form-btn btn-favorites not-signed-in"><i class="fa fa-heart-o"></i></p>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="buy-notify-btn-wrapper">
                    {% if product.stock > 0 %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="number" name="quantity" min="1" value="1" class="quantity-input" style='display:none'>
                            <button type='submit' class="notify" name='toggle-cart'>Add to Cart</button>
                        </form>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class='notify' name='notify'>Notify me when in stock</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="product-info">
            <div class="sidebar-menu">
    
                <p data-rel="1" class="nav-link active">Description</p>
                <p data-rel="2" class="nav-link">Ingredients</p>  
                
            </div>

            <div class="sections">
        
                <div id="1" class="sub-section active">
                    <div class="product-info-description">
                        <div class="info-desc">
                            <p>Description</p>
                            <p>{{product.detailed_description}}</p>
                        </div>
                        <div class="usage">
                            <p>How to use</p>
                            <p>{{product.usage_instructions}}</p>
                        </div>
                        <div class="suitable-for">
                            <p>Suitable for</p>
                            <p>{{product.suitable_for}}</p>
                        </div>
                    </div>
                </div>
    
                <div id="2" class="sub-section">
                    <div class="ingredients">
                        {{product.ingredients}}    
                    </div>
                </div>

            </div>

        </div>
    </div>
    
    {% if brand_products %}
        <div class="products">
            <h2>More from <span>{{product.brand}}</span></h2>
            <div class="items">

                {% for product in brand_products %}
                
                    <div class='item-product'>
                        <a href="{{ product.get_absolute_url }}">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="{{product.main_image.url}}" alt="">
                                </div>
                                <div class="content">
                                    <div class="product-name">
                                        <p>{{product.name}}</p>
                                        <p class="full-desc">{{product.brief_description}}</p>
                                    </div>
                                    <div class="price_rating">
                                        <div class="rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <p class="total-ratings">100</p>
                                        </div>
                                        <div class="prod-price">
                                            {% if product.price_new %}
                                            <p class="price new">${{product.price_new}}</p>
                                            <p class="price old">${{product.price}}</p>
                                            {% else %}
                                            <p class="price">${{product.price}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% if user.is_authenticated %}
                            <div class="buttons">

                                <form method="POST">
                                    {% csrf_token %} 
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    {% if product in user.wishlist.products.all %}
                                        <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites full-heart"><i class="fa fa-heart"></i></button>
                                    {% else %}
                                        <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites"><i class="fa fa-heart-o"></i></button>
                                    {% endif %}
                                </form>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="form-btn btn-cart"><i class="bi bi-bag"></i></button>
                                </form>

                            </div>
                        {% else %}
                            <div class="buttons">
                                <form>
                                    <p class="form-btn btn-favorites not-signed-in"><i class="fa fa-heart-o"></i></p>
                                </form>
                                <form>
                                    <p class="form-btn btn-cart not-signed-in"><i class="bi bi-bag"></i></p>
                                </form>
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
            <div class="btn">
                <a href="{{product.brand.get_absolute_url}}">
                    <button type="submit">See more</button>
                </a>
            </div>
        </div>
    {% endif %}

    {% if category_products %}
        <div class="products">
            <h2>Similar Products</h2>
            <div class="items">
                {% for product in category_products %}
                    <div class='item-product'>
                        <a href="{{ product.get_absolute_url }}">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="{{product.main_image.url}}" alt="">
                                </div>
                                <div class="content">
                                    <div class="product-name">
                                        <p>{{product.name}}</p>
                                        <p class="full-desc">{{product.brief_description}}</p>
                                    </div>
                                    <div class="price_rating">
                                        <div class="rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <p class="total-ratings">100</p>
                                        </div>
                                        <div class="prod-price">
                                            {% if product.price_new %}
                                            <p class="price new">${{product.price_new}}</p>
                                            <p class="price old">${{product.price}}</p>
                                            {% else %}
                                            <p class="price">${{product.price}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% if user.is_authenticated %}
                            <div class="buttons">

                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    {% if product in user.wishlist.products.all %}
                                        <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites full-heart"><i class="fa fa-heart"></i></button>
                                    {% else %}
                                        <button type="submit" name="toggle_wishlist" class="form-btn btn-favorites"><i class="fa fa-heart-o"></i></button>
                                    {% endif %}
                                </form>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="form-btn btn-cart"><i class="bi bi-bag"></i></button>
                                </form>

                            </div>
                        {% else %}
                            <div class="buttons">
                                <form>
                                    <p class="form-btn btn-favorites not-signed-in"><i class="fa fa-heart-o"></i></p>
                                </form>
                                <form>
                                    <p class="form-btn btn-cart not-signed-in"><i class="bi bi-bag"></i></p>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="btn">
                <a href="{{product.category.get_absolute_url}}">
                    <button type="submit">See more</button>
                </a>
            </div>
        </div>
    {% endif %}


    <div class="comment-section" id="comment-section">
        <h3>Reviews about {{product.name}}</h3>
        <button class="add-comment">Add Comment</button>
        <div class="comments">
            {% if page_obj %}
                {% for review in page_obj %}
                    {% if review.is_root_node %}
                        <div class="comment">

                            <div class="user-date">
                                <div class="avatar-name">
                                    <div class="img-container">
                                        <img src="{% static "shop/images/avatar.jpg" %}" alt="">
                                    </div>
                                    <p class="username">{{review.user.first_name}}</p>
                                </div>
                                <div class="publish-date">
                                    <p>{{review.created_at}}</p>
                                </div>
                            </div>
                            <div class="user-rating">
                                <ul class="stars">
                                    {% if review.rating > 0 %}
                                        {% for i in '12345'|make_list %}
                                            {% if forloop.counter <= review.rating %}
                                                <li class="star">
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            {% else %}
                                                <li class="star">
                                                    <i class="bi bi-star"></i>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="comment-content">
                                <p class="text">{{review.text}}</p>
                                {% if review.review_images.all %}
                                    <div class="comment-images">
                                        {% for image in review.review_images.all %}
                                            <img src="{{ image.image.url }}" alt="" class="comment-img">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="reply-comment-container">
                                <div class="close-reply-container">
                                    <i class="bi bi-x-lg close-reply"></i>
                                </div>
                                <div class="leave-comment">
                                    <form class="reply-form" method='POST' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" value="{{ review.id }}" />
                                        <div class="form-group">
                                            <label for="text">Comment</label>
                                            <textarea name="text" id="text" required>{{review.user.first_name}}, </textarea>
                                        </div>
                                        <div class="form-group images">
                                            <label for="file-upload" class="custom-file-upload">
                                                <i class="bi bi-upload"></i> Choose Files
                                            </label>
                                            <input type="file" id="file-upload" class='file-upload' name="file-upload" multiple />
                                            <div id="file-names" class='file-names'></div>
                                        </div>
                                        <button type="submit" class="add-comment" name='add-reply'>Submit Reply</button>
                                    </form>
                                </div>
                            </div>

                            <div class="reply-comment">
                                <a class="reply-button">Reply</a>
                                {% if user == review.user %}
                                    <form method='POST'>
                                        {% csrf_token %}
                                        <input type="hidden" name='comment_id' value="{{review.id}}">
                                        <button type="submit" name='delete-comment' class='delete-comment-button'>delete</button>
                                    </form>
                                {% endif %}
                            </div>

                            {% if review.get_descendants|length > 0 %}
                                <div class="toggle-replies">
                                    <button>See replies ({{review.get_descendants|length}})</button>
                                </div>
                            {% endif %}


                            {% if review.get_children %}
                                <div class="replies" style='padding-left: 1.5em;'>
                                    {% for reply in review.get_children %}
                                        {% include "shop/comment_replies.html" with review=reply product=product %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3 style='font-weight:500'>No comments yet!</h3>
            {% endif %}
        </div>

        <div class="comments-pagination">
            {% if not page_obj.number == 1 %}
                <a href="?page=1#comment-section" class="pagination-link">1</a>
            {% endif %}

            {% if page_obj.number > 6 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range%}
                {% if page_obj.number == num%}
                    <a href="#comment-section" class="pagination-link active">{{ num }}</a>
                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' and num != 1 and num != page_obj.paginator.num_pages %}
                    <a href="?page={{ num }}#comment-section" class="pagination-link">{{ num }}</a>
                {% endif %}
            {% endfor %}
                    
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-5' %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}

            {% if not page_obj.number == page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.paginator.num_pages }}#comment-section" class="pagination-link">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
            
        </div>
    </div>
    
</main>

<div class="add-comment-container">
    <div class="close-comment-container">
        <i class="bi bi-x-lg close-comment"></i>
    </div>
    <div class="leave-comment">
        <form class="comment-form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="comment-rating">
                <p>Your Rating</p>
                <div class="input-rating">
                    <div class="inputs">
                        <input id="rating-default" type="radio" name="rating" value="" checked>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <input id="rating2" type="radio" name="rating" value="2">
                        <input id="rating3" type="radio" name="rating" value="3">
                        <input id="rating4" type="radio" name="rating" value="4">
                        <input id="rating5" type="radio" name="rating" value="5">
                    </div>
                    <ul class="stars">
                        <li class="star">
                            <label for="rating-default"></label>
                        </li>
                        <li class="star">
                            <label for="rating1"><i class="bi bi-star"></i></label>
                        </li>
                        <li class="star">
                            <label for="rating2"><i class="bi bi-star"></i></label>
                        </li>
                        <li class="star">
                            <label for="rating3"><i class="bi bi-star"></i></label>
                        </li>
                        <li class="star">
                            <label for="rating4"><i class="bi bi-star"></i></label>
                        </li>
                        <li class="star">
                            <label for="rating5"><i class="bi bi-star"></i></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Comment</label>
                {{comment_form.text}}
            </div>
            <div class="form-group images">
                <label for="file-upload" class="custom-file-upload">
                    <i class="bi bi-upload"></i> Choose Files
                </label>
                <input type="file" id="file-upload" name="file-upload" multiple />
                <div id="file-names"></div>
            </div>
            <button type="submit" class="add-comment" name='add-comment'>Submit Comment</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static "shop/js/product_details.js" %}"></script>
{% endblock scripts %}

