{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "orders/css/order.css" %}">
{% endblock css_links %}

{% block content %}
<div class="main">

    <h1 class='title'>Your Order</h1>
    <div class="cart-items">
        {% for item in cart %}
            {% with product=item.product %}
                <div class="item">
                    <div class="container">
                        <div class="cart-img-container">
                            <img class='cart-item-img' src="{{product.main_image.url}}">
                        </div>
                        <div class="info">
        
                            <div class="product-info">
                                <div class="product-name">
                                    <p>{{product.name}}</p>
                                    <p class="full-desc">{{product.brief_description}}</p>
                                </div>
                                {% if product.stock > 0 %}
                                    <div class="prices">
                                        <p class="price">${{item.total_price}}</p>
                                    </div>
        
                                    <div class="post-forms">
                                        <form class="update-form" action="{% url "orders:order" %}" method="post">
                                            {% csrf_token %}
                                            <input type="number" name="quantity" min="1" value="{{item.quantity}}" class="quantity-input">
                                            <input type="hidden" name="product_id" value="{{product.id}}">
                                        </form>
                                    </div>
                                {% else %}
                                    <p style='color: #ff5252'>Out of stock</p>
                                {% endif %}
                                
                            </div>
                            <div class="remove">
                                <form action="{% url "orders:order" %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{product.id}}">
                                    <button type='submit' name='toggle-cart' style='border: none; background: transparent; cursor:pointer; font-size: 1.1rem;'><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
        
                        </div>
                    </div>
                    {% if item.quantity >= product.stock and product.stock > 0 %}
                        <div class="max">
                            <p>Max quantity of {{product.name}} is {{product.stock}}</p>
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}     
    </div>


    <div class="cart-results">

        <div class="total">
            <h3>Total</h3>
            <h3>${{cart.get_total_price}}</h3>
        </div>
    
        <form action="{% url "orders:order" %}" method='POST' class='order-form'>
            {% csrf_token %}

            <div class="inputs">
                <div class="user-info">
                    <h2 style='font-weight: 500'>Personal Information</h2>
                    <div class="personal-info">
                        <div class="full-name">
                            <h3 style='font-weight: 500'>Full Name</h3>
                            <div class="name">
                                <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                            </div>
                        </div>
                        <div class="email">
                            <h3 style='font-weight: 500'>E-mail Address</h3>
                            <p>{{request.user.email}}</p>
                        </div>
                        <div class="phone">
                            <h3 style='font-weight: 500'>Phone number</h3>
                            <p>{{request.user.userdata.telephone}}</p>
                        </div>
                            
                    </div>
                </div>
    
    
                <div class="address">
                    <h2 style='font-weight: 500'>Address Information</h2>
                    {% if order_form.fields.address.queryset %}
                        <p>Select Address:</p>
                        <div id="custom-address-selection">
                                {% for address in order_form.fields.address.queryset %}
                                    <div class="address-option {% if address.id == order_form.preselected_address_id %}selected{% endif %}" data-address-id="{{ address.id }}">
                                        <p>{{ address.first_name }} {{ address.last_name }}</p>
                                        <p>{{ address.street }}, {{ address.city }}</p>
                                        <p>{{ address.phone_number }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {{ order_form.address }}
                    {% else %}
                        <p>No <a href="{% url "shop:account" %}?show=addresses" style='color: blueviolet'>saved addresses</a> found. Please fill in your address details:</p> 
                        <div class="add-address-form">
                            <div class="name">
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input type="text" name="first-name" id="first-name" required>
                                </div>
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" name="last-name" id="last-name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Phone Number</label>
                                <input type="text" name="phone-number" id="phone" required onkeydown="phoneNumberFormatter()">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <div class="input-container">
                                    <i class="bi bi-search"></i>
                                    <input type="text" name="city" id="city" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="street">Street</label>
                                <div class="input-container">
                                    <i class="bi bi-search"></i>
                                    <input type="text" name="street" id="street" required>
                                </div>
                            </div>
                            
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="buy-btn-wrapper">
                {% if out_of_stock%}
                    <button class='button'>
                        <a href="{% url "orders:order" %}">
                            Place Order
                        </a>
                    </button>   
                    <p style="color: red; margin-top: .5em">Some items in your order are out of stock.</p>
                {% elif invalid_quantity %}
                    <button class='button'>
                        <a href="{% url "orders:order" %}">
                            Place Order
                        </a>
                    </button>
                {% else %}
                    <button class='button' type="submit" name='create-order'>
                        <p>Place Order</p>
                    </button>
                {% endif %}
            </div>
        </form>
        
        <a href="{% url "shop:main" %}" class='shop'>Continue Shopping</a>  
        
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script src="{% static "orders/js/order.js" %}"></script>
{% endblock scripts %}

